.status {
  width: 10px;
  height: 10px;
  background: red;
  display: block;
  margin: 4px 10px 0 0;
  float: left;
  border-radius: 50%;
}

.status.checked-in {
  background: green;
}

.status.checked-out:hover {
  background: blue;
}

.list {
  list-style-type: none;
}
